@charset "utf-8";

body {
  background-color: #f9fdcb;
  color: #181618;
}
/*
 header 
*/
.header {
  padding: 0 10%;
  color: #f9fdcb;
  height: 8vh;
  background-color: #181618;
  box-shadow: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
}
.header__item {
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
.header__item::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 1.5px;
  background-color: #f9fdcb;
  bottom: -4px;
  left: 0;
  transform: scale(0, 1);
  transition: all 0.5s;
  transform-origin: center top;
}
.header__item:hover::after {
  transform: scale(1, 1);
}

.flex__wrap {
  display: flex;
  padding: 0 10%;
}

/* sidebar */
.sidebar {
  height: 92vh;
  width: 25%;
  max-width: 330px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.sidebar__list {
  height: 700px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.sidebar__item {
  border: 1px solid #181618;
  height: 60px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidebar__item:hover {
  background-color: #181618;
  color: #f9fdcb;
}

/* contents */
.contents__container {
  width: 75%;
  height: 92vh;
  display: flex;
  justify-content: right;
  align-items: center;
}

/*
Todo
*/
.todo__container {
  background-color: #181618;
  width: 80%;
  height: 700px;
  text-align: center;
  font-size: 16px;
}
/* todoInput */
.todoInput__wrap {
  color: #f9fdcb;
}
.todo__title {
  font-size: 40px;
  margin-top: 16px;
}
.todo__input {
  width: 80%;
  max-width: 400px;
  font-size: 25px;
  border: 1px solid #f9fdcb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
}
.todo__input:focus {
  outline: none;
}
.btn__wrap {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}
.add__btn {
  color: #f9fdcb;
  width: 100px;
  height: 40px;
  border: 1px solid #f9fdcb;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add__btn:hover {
  color: #181618;
  background-color: #f9fdcb;
}
.delete__btn {
  color: #f9fdcb;
  width: 100px;
  height: 40px;
  border: 1px solid #f9fdcb;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.delete__btn:hover {
  color: #181618;
  background-color: #f9fdcb;
}

/* TodoTasks */
.todotasks__wrap {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.task__list {
  width: 85%;
  height: 100%;
  border: 1px solid #f9fdcb;
  text-align: left;
  padding: 5%;
  overflow: auto;
}
.list__item {
  display: flex;
  margin-top: 10px;
  cursor: pointer;
}
.todo__text {
  color: #f9fdcb;
  font-size: 20px;
  transition: all 0.5s;
}
.completed > .todo__text {
  text-decoration: line-through;
}
.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #f9fdcb;
  border-radius: 5px;
  margin-right: 10px;
  position: relative;
}
.checkbox::after {
  transition: all 0.5s;
  position: absolute;
  content: "";
  width: 23px;
  height: 10px;
  top: 0;
  left: 0;
  border-left: 2px solid #f9fdcb;
  border-bottom: 2px solid #f9fdcb;
  transform: rotate(-45deg);
  opacity: 0;
}
.completed > .checkbox::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 10px;
  top: 0;
  left: 0;
  border-left: 2px solid #f9fdcb;
  border-bottom: 2px solid #f9fdcb;
  transform: rotate(-45deg);
  opacity: 1;
}

/* 
Nomatch
*/
.NoMatch__text {
  font-size: 20px;
}
